
{% load static %}

<h1> webcut</h1>
<form action="{% url 'files:authenticateuser' %}" method='post' enctype='multipart/form-data'>
{% csrf_token %}
{% if not request.user.is_authenticated %}
{{ form.as_p }}
<input type="checkbox" name="newidentifier" value="registration"> Register new Identifier <br>
{% else %}
<p><a href = "{% url 'files:logoutwebcut' %}"> logout </a></p>
{% endif %}
{{ request.user.username }}
<p><p><input type='file' name='filename'></p>
<div>
<p><input type='submit' name='upload' value='Upload'></p></p>
</div>
<div>
<p><input type='submit' name='download' value='Download'></p>
</div>
</form>
